#footer {
	min-width: 100vw;
	background-color: var(--Very-Dark-Blue);
	padding: 2em;
	justify-content: center;
}

#footer * {
	gap: 3em;
}

#footer-content {
	width: 100%;
	max-width: var(--container);
	justify-content: space-between;
	gap: 3em;
}

#footer a {
	color: #fff;
	text-decoration: none !important;
}

#footer a:hover,
#footer a:focus {
	color: var(--Soft-Red);
}

.social-links {
	font-size: 1.5rem;
}

@media screen and (max-width: 40em) {
	#footer * {
		justify-content: center;
	}
}
